@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Let's Get You A Job!</h1>
    <p class="lead">Teen tasks is the easiest and safest way for teens to make money</p>

    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Create Profile Now", "Create", "Profiles", null, new { @class = "btn btn-primary btn-lg" })
    }
    else
    {
        @Html.ActionLink("Register Now", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })
    }
</div>